version: '3.8'

services:
  db:
    image: postgres:14-alpine
    container_name: soft_2_db
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/

  backend:
    build: ./backend
    container_name: backend_soft_2
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./backend:/app
    depends_on:
      - db

  frontend:
    image: nginx:1.25-alpine
    container_name: frontend_soft_2
    ports:
      - "8080:80"
    volumes:
      - ./frontend:/usr/share/nginx/html
    depends_on:
      - backend

  tests:
    build: ./backend
    container_name: backend_tests 
    command: pytest
    env_file:      
      - .env
    environment:
      - TEST_DB_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}    
    depends_on:
      - db

volumes:
  postgres_data:


